@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
body{
    background-color: darkslategray;
    font-family: 'Baloo 2';
    color: aliceblue;
    a:link{
        color:beige;
    }
    a:visited{
        color: beige;
    }

}

